*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #fff;

    padding: 0.25rem 0.05rem;
}

html,body{
    width: 100%;
    height: 100vh;
    background-color: #111;
}

input[type="submit"]{
    color: #111;
    border-radius: 10px;
    padding: 6px 10px;
}

input{
    color: #111;
}

#course{
    display: flex;
    gap: 1rem;
}